---
import { getRelativeLocaleUrl } from "astro:i18n";
import experiences from "../../data/experiences.json";
import { t } from "../../lib/utils/il8n";
import Button from "../button.astro";
import ExperienceItem from "../experience-item.astro";

const title = t("Highlighted Experiences", "Experiencias Destacadas", t(Astro));

const labelButton = t("All Experiences", "Todas las Experiencias", t(Astro));

const experiencesUrl = getRelativeLocaleUrl(t(Astro), "experiences");
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100">
    {title}
  </h2>
  <div class="px-5 py-10">
    {
      experiences
        .filter(
          (experience) =>
            experience.type == "professional" && experience.highlighted
        )
        .map((experience) => {
          return (
            <>
              <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                <ExperienceItem
                  startDate={experience.startDate}
                  endDate={experience.endDate}
                  role={t(experience.role, t(Astro))}
                  institution={t(experience.institution, t(Astro))}
                  description={t(experience.description, t(Astro))}
                  tags={t(experience.tags, t(Astro))}
                  url={experience.url}
                  logo={experience.logo}
                />
              </div>
            </>
          );
        })
    }
  </div>

  <div class="flex items-center justify-center w-full py-5">
    <Button
      text={labelButton}
      link={experiencesUrl}
    />
  </div>
</section>
