---
import experiences from "../../collections/experiences.json";
import Button from "../button.astro";
import ExperienceItem from "../experience-item.astro";
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    Highlighted Experiences
  </h2>
  <div class="px-5 py-10">
    {
      experiences
        .filter(
          (experience) =>
            experience.type == "professional" && experience.featured
        )
        .map((experience) => {
          return (
            <>
              <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                <ExperienceItem
                  startDate={experience.startDate}
                  endDate={experience.endDate}
                  role={experience.role.english}
                  institution={experience.institution.english}
                  url={experience.url}
                  description={experience.description.english}
                  logo={experience.logo}
                  tags={experience.tags.english}
                />
              </div>
            </>
          );
        })
    }
  </div>

  <div class="flex items-center justify-center w-full py-5">
    <Button text="All Experiences" link="/experiences" />
  </div>
</section>
