---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getProjectsCollectionName } from "../../lib/utils/get-projects-collection-name";
import { t } from "../../lib/utils/il8n";
import Button from "../button.astro";
import Project from "../project.astro";

const title = t("Highlighted Projects", "Proyectos Destacados", t(Astro));

const labelButton = t("All Projects", "Todos los Proyectos", t(Astro));

const projectsUrl = getRelativeLocaleUrl(t(Astro), "projects");

const collection = getProjectsCollectionName(Astro);
const projects = (await getCollection(collection)).sort((a, b) => a.data.order - b.data.order);
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100">
    {title}
  </h2>
  <div
    class="grid items-stretch w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7 mt-7">
    {
      projects
        .filter((project) => project.data.highlighted)
        .map((project) => {
          return (
            <Project
              slug={project.slug}
              title={project.data.title}
              subtitle={project.data.subtitle}
              image={project.data.image}
              tags={project.data.tags}
            />
          );
        })
    }
  </div>

  <div class="flex items-center justify-center w-full py-5">
    <Button
      text={labelButton}
      link={projectsUrl}
    />
  </div>
</section>
