---
import ExperienceItem from "../../components/experience-item.astro";
import PageHeading from "../../components/page-heading.astro";
import experiences from "../../data/experiences.json";
import Layout from "../../layouts/main.astro";
import addLangPaths from "../../lib/utils/add-lang-paths";
import { t } from "../../lib/utils/il8n";

export function getStaticPaths() {
  return addLangPaths();
}

const headTitle = t("Experiences", "Experiencias", t(Astro));

const professionalExperiences = t(
  "Professional Experiences",
  "Experiencias Profesionales",
  t(Astro)
);

const education = t("Education", "Educación", t(Astro));
---

<Layout title={headTitle}>
  <section class="max-w-4xl mx-auto px-7 lg:px-0">
    <PageHeading title={headTitle} />

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      {professionalExperiences}
    </h2>
    <div class="px-5 py-10">
      {
        experiences
          .filter((experience) => experience.type == "professional")
          .map((experience) => {
            return (
              <>
                <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                  <ExperienceItem
                    startDate={experience.startDate}
                    endDate={experience.endDate}
                    role={t(experience.role, t(Astro))}
                    institution={t(experience.institution, t(Astro))}
                    description={t(experience.description, t(Astro))}
                    tags={t(experience.tags, t(Astro))}
                    url={experience.url}
                    logo={experience.logo}
                  />
                </div>
              </>
            );
          })
      }
    </div>
  </section>
  <section class="max-w-4xl mx-auto px-7 lg:px-0">
    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      {education}
    </h2>
    <div class="px-5 py-10">
      {
        experiences
          .filter((experience) => experience.type == "education")
          .map((experience) => {
            return (
              <>
                <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                  <ExperienceItem
                    startDate={experience.startDate}
                    endDate={experience.endDate}
                    role={experience.role.english}
                    institution={experience.institution.english}
                    url={experience.url}
                    description={experience.description.english}
                    logo={experience.logo}
                    tags={experience.tags.english}
                  />
                </div>
              </>
            );
          })
      }
    </div>
  </section>
</Layout>
