---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
import {
  description as defaultDescription,
  tags as defaulTags,
} from "../data/meta.ts";
import { t } from "../lib/utils/il8n";

interface Props {
  title?: string;
  description?: string;
  cover?: string;
  tags?: string[];
  relativeUrl?: string;
}

let { title, description, cover, tags, relativeUrl } = Astro.props;

const finalTitle = title
  ? `Leynier Gutiérrez González · ${title}`
  : "Leynier Gutiérrez González";

const finalDescription = description || t(defaultDescription, t(Astro));

const isDefaultCover = !cover;
const finalCover = cover || "/assets/images/avatar.jpg";

const finalTags = (tags || t(defaulTags, t(Astro))).join(", ");

const url = relativeUrl
  ? `https://leynier.dev${relativeUrl}`
  : "https://leynier.dev";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{finalTitle}</title>

    <meta
      name="description"
      content={finalDescription}
    />
    <meta
      name="keywords"
      content={finalTags}
    />

    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:title"
      content={finalTitle}
    />
    <meta
      property="og:url"
      content={url}
    />
    <meta
      property="og:description"
      content={finalDescription}
    />
    <meta
      property="og:image"
      content={finalCover}
    />
    {
      isDefaultCover ? (
        <>
          <meta
            property="og:image:height"
            content="640"
          />
          <meta
            property="og:image:width"
            content="640"
          />
        </>
      ) : (
        <>
          <meta
            property="og:image:height"
            content="630"
          />
          <meta
            property="og:image:width"
            content="1200"
          />
        </>
      )
    }
    <meta
      name="twitter:card"
      content={isDefaultCover ? "summary" : "summary_large_image"}
    />
    <meta
      name="twitter:domain"
      content="leynier.dev"
    />
    <meta
      name="twitter:site"
      content="@leynier41"
    />
    <meta
      name="twitter:creator"
      content="@leynier41"
    />
    <meta
      name="twitter:title"
      content={finalTitle}
    />
    <meta
      name="twitter:url"
      content={url}
    />
    <meta
      name="twitter:description"
      content={finalDescription}
    />
    <meta
      name="twitter:image"
      content={finalCover}
    />

    <script is:inline>
      if (typeof Storage !== "undefined") {
        if (
          localStorage.getItem("dark_mode") &&
          localStorage.getItem("dark_mode") == "true"
        ) {
          document.documentElement.classList.add("dark");
        }
      }
    </script>

    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/favicon.png"
    />
    <script src="../assets/css/main.css"></script>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>
  <body class="antialiased bg-white dark:bg-neutral-950">
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
</html>
