---
import type { Post } from "../lib/hashnode/schema";
import { formatDate } from "../lib/utils/format-date";
import { t } from "../lib/utils/i18n";
import Layout from "./main.astro";

interface Props {
  post: Post;
}

const { post } = Astro.props;

const title = `${t("Post", "Publicaci贸n", t(Astro))} 路 ${post.seo?.title ?? post.title}`;

const posted = t(
  `Posted on ${formatDate(post.publishedAt, t(Astro))} 路 ${post.readTimeInMinutes} min read`,
  `Publicado el ${formatDate(post.publishedAt, t(Astro))} 路 ${post.readTimeInMinutes} min de lectura`,
  t(Astro)
);
---

<Layout
  title={title}
  description={post.seo?.description ?? post.brief}
  cover={post.ogMetaData?.image ?? post.coverImage?.url}
  tags={post.tags?.map((t) => t.name).filter((t) => t)}
  relativeUrl={`/posts/${post.slug}`}>
  <main
    class="relative z-30 max-w-6xl pb-1 mx-auto mt-10 bg-white dark:bg-neutral-950 md:rounded-t-md text-neutral-900">
    <div
      class="relative flex flex-col px-5 pt-6 border-t border-b-0 md:border-r md:border-l md:pt-20 lg:px-0 justify-stretch md:rounded-t-2xl border-neutral-200 dark:border-neutral-800">
      <div
        class="absolute top-0 left-0 hidden w-px h-full mt-1 -translate-x-px md:block bg-gradient-to-b from-transparent to-white dark:to-neutral-950">
      </div>
      <div
        class="absolute top-0 right-0 hidden w-px h-full mt-1 translate-x-px md:block bg-gradient-to-b from-transparent to-white dark:to-neutral-950">
      </div>
      <h1
        class="w-full max-w-5xl mx-auto text-3xl font-bold leading-tight tracking-tighter text-left md:mb-12 md:text-4xl dark:text-neutral-100 lg:text-5xl md:leading-none">
        {post.title}
      </h1>
    </div>

    <article
      class="w-full max-w-5xl mx-auto mb-20 prose-sm prose px-7 lg:px-0 lg:prose-lg dark:prose-invert prose-h1:my-3 prose-h2:my-3 prose-h3:my-3 prose-h4:my-3 prose-h5:my-3 prose-h6:my-3">
      <p class="text-sm text-gray-500 dark:text-gray-400">
        {posted}
      </p>
      {
        post.subtitle && (
          <p class="mt-2 text-lg text-gray-700 dark:text-gray-300">
            {post.subtitle}
          </p>
        )
      }
      {
        post.coverImage?.url && (
          <img
            class="w-full mt-4"
            src={post.coverImage.url}
            alt={post.title}
          />
        )
      }
      <slot />
    </article>
  </main>
</Layout>
